*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #161616;
}
.top{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: black;
}
.main{
    display: flex;
}
.top ul{
    display: flex;
    margin-top: 10px;
}
.top ul li{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.top ul li a{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}
.top ul li a:hover{
    color: dodgerblue;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: whitesmoke;
  margin-top: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #161616;
  min-width: 1200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content span{
    padding: 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.drop{
    margin-top: 27px;
}
.checkbox{
    display: none;
    opacity: 0px;
}
.icon{
    display: none;
}
.logo{
    padding: 15px;
}
.iimg img{
    margin-left: auto;
}
.search{
    margin-left: auto;
    margin-top: 16px;
}


 /* deal of time  */
h1{
    font-size: 41px;
    color: white;
    margin-top: 43px;
    margin-left: 165px;
}
.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
* {box-sizing: border-box}
        body {font-family: Verdana, sans-serif; margin:0}
        .mySlides {display: none;}
        img {vertical-align: middle;}
    
        .slideshow-container {
          max-width: 500px;
          position: relative;
          margin: auto;
        }
        
    
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
    
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }
        
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
          background-color: #717171;
        }
        
        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }
        
        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }
        
        @media only screen and (max-width: 300px) {
          .prev, .next,.text {font-size: 11px}
        } 


/* Most Searched */
h2{
    color: white;
}

.Most{
   margin: auto;
}
.Most ul li{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.Most ul li a{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}
.Most ul li a:hover{
    color: dodgerblue;
}
.Searched{
    text-align: center;
}

/* footer */

.footer{
    display: flex;
    background-color: black;
    padding: 10px;
}
.width{
    width: 500px;
    color: white;
}
.pad{
    padding: 10px;
}